@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

html,
body {
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  /* font-family: 'Georama', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* change bg onscroll for hopes */
.MobileNav {
  height: 83px;
  position: fixed;
  background-color: transparent;
  width: 100vw;
  z-index: 999;
}
.MobileNav.active {
  background-color: #182330;
}

/* services wave*/
.services-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.services-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.services-wave .services-shape-fill {
  fill: #6b705c;
}
/* footer wave with opacity */

.footer-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.footer-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.footer-wave .footer-shape-fill {
  fill: #d4c7b0;
}
.custom-shape-divider-top-1630839795 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1630839795 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1630839795 .shape-fill {
  fill: #6b705c;
}

/* landing */

.morph {
  /* font-family: 'Ephesis', cursive; */
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
}
.main {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('https://images.ctfassets.net/wlgvz2z255oc/1zNsMH0Hnhua2HxxDoI9WV/e2d384ee837d7f8042779ce6adb54a71/deskkids.jpg?w=2200&h=1700&fm=jpg&fl=progressive');
}

.hideOnSm > img {
  width: 100px;
  height: 100px;
}
@media screen and (min-width: 768px) {
  .hideOnSm > img {
    width: auto;
    height: auto;
  }
  .heading > h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 320px) {
  .hideOnSm {
    display: none;
  }
}
